.hero_right {
  width: 100%;
  min-height: calc(100vh - 92px);

  position: relative;

  overflow: hidden;

  @media only screen and (max-width: 968px) {
    min-height: auto;
    height: 300px;

    order: -1;
  }
}

.hero__image {
  width: 200%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  object-position: left;
}
