h3.content__title Как начать играть 🤔
  .steps
    .steps__item
      .steps__order
        span 1
      p.steps__description Скопируйте IP адрес
    .steps__item
      .steps__order
        span 2
      p.steps__description Выберите подходящую версию игры [1.16.5]
    .steps__item
      .steps__order
        span 3
      p.steps__description Добавьте в список серверов
    .steps__item
      .steps__order
        span 4
      p.steps__description Наслаждайтесь игрой на сервере 😃